@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background:#0a1132 !important;
}

#app,.el-menu{
  background:#0a1132 !important;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%;
  height:calc(100vh - 5rem) ;
  margin-top: 4rem;
}

.app-container {
  padding: 20px;
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
::-webkit-scrollbar{
  /*display: none;*/
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  overflow: auto;
  background: #666;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
  min-height: 10px;
  min-width: 10px;
  border: 0px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ccc;
  border: 0px;
  border-radius: 10px;
}
.routerDiv,.mainBox{height: calc(100vh - 84px);}
.largeScreen .app-main{
  height: 100vh;
  margin-top: 0;
}

/*引导页的*/
#driver-highlighted-element-stage{
  border: 3px solid #fff;
  background: none;
  background-color: #ffffff30 !important}
